<%= user.errors.full_messages %>
<form method="post" action="/newuser">
  Username: <input type="text" name="user[username]" value="<%= user.username %>" /><br />
  Password: <input type="password" name="user[password]" /><br />
  Confirm Password: <input type="password" name="user[password_confirmation]" /><br />
  <input type="submit" value="Submit" />
</form>
