<html>
  <head>
    <title>PersonLocator::person form</title>
  </head>
  <body>
    <form id="form" method="post" action="/personlocator/person/<%= object.id %>">
      <input type="hidden" name="_method" value="<%= method %>" />
      First Name: <input type="text" name="fname" value="<%= object.fname %>" /><br />
      Last Name: <input type="text" name="lname" value="<%= object.lname %>" /><br />
      <input type="submit"  name="Update" />
    </form>
  </body>
</html>
